// Variables de Inicialización
	
	// Tamaño Letra Inicial
	jnt--fz-inicial = 16px

	// Espacios
	jnt-fila--ancho_max = 1300px
	jnt-columa--separacion = 30px
	
	// Breakpoints
	breakpoints = {
		base 	: 320px
		movil 	: 480px
		tablet 	: 768px
		pc 		: 1024px
		hd 		: 1400px
	}
	
	// Fracciones
	fracciones = {
		tercios : 3
		sextos 	: 6
		octavos : 8
	}
	
	// Espacios
	espacios = {
		_1 : 10px
		_2 : 30px
		_3 : 50px
		_4 : 70px
		_5 : 90px
	}