// Utilidades
	
	// Texto Transformación
	.jnt-upper
		text-transform uppercase
	.jnt-lower
		text-transform lowercase

	// Alineación
	.jnt-txt-center
		text-align center
	.jnt-txt-right
		text-align right
	.jnt-txt-left
		text-align left
	
	// Display
	.jnt-inline
		display inline
	.jnt-block
		display block
	.jnt-inline-block
		display inline-block
			
	// Posicionamiento
	.jnt-relative
		position relative
	.jnt-absolute
		position absolute
	.jnt-static
		position static
	.jnt-fixed
		position fixed
			
	// Bloque Centrado
	.jnt-block-center
		display block
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
	.jnt-block-center-v
		display block
		position absolute
		top 50%
		transform translateY(-50%) 
	.jnt-block-center-h
		display block
		position absolute
		left 50%
		transform translateX(-50%) 
			
	// Floats
	.jnt-pull-left
		float left
	.jnt-pull-right
		float right
		
	// Alineación Bloques
	.jnt-middle
		vertical-align middle !important
	
	// Scroll Fix
	.jnt-scroll-fixed
		display none
		position fixed
		top 0
		left 0
		width 100%